loot/
*.ntds
*.sam
hashes.txt
cracked.txt
mimikatz_output*.txt
secretsdump_output*
responder_logs/
*.pcap
*.pcapng

*.vmdk
*.qcow2
*.ova
*.vdi
*.iso

wazuh_data/
*.log

.DS_Store
*.swp

__pycache__/
.venv/
venv/
